<!doctype html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <% if (!error) { %>
        <div class="ticket">
          <div><img src="/images/ticket.svg"></div>
          <h1><%= ticketId %></h1>   
        </div>
        <form action="/end" method="post">

          <div class="group">
            <input class="hidden" name="ticketId" value="<%= ticketId %>" />
            <label class="label">Elige tu opción</label>
            <select name="selectedOption">
              <% options.forEach(option => { %>
                <option value="<%= option.value %>"><%= option.name %></option>
              <% }) %>
            </select>
            <button class="button is-primary" type="submit">
              <img src="/images/ok.svg">
            </button>
          </div>

        </form>
      <% } else { %>
        <h1><%= error %></h1>
      <% } %>
    </div>
  </body>
</html>
